<div class="section_title">Last links tweeted</div><br>

<% if !lastlinks.nil? %>

  <% lastlinks.each{|l| %>
	<div class="text"> ➟ <a href="<%=l.original%>"><%= l.original -%></a></div>
  <% } %>
<%else%>
Pas de liens dans la base de données
<%end %>

