

<div class="form_left">
  <div class="yui-skin-sam">	
	  <div id='user_screen_name'>
	  </div>
	</div>
</div>

<div class="form">
<br>or<br><br>
<% if flash[:notice] -%>
	<div id="notice"><%= flash[:notice] %></div>
<% end %>
</div>

<div class="form">
	<% form_tag :action => 'search' do %> 
		<strong>Type in a tag : </strong><br><br><%= text_field_tag :id %><%= hidden_field_tag :type, :value => "tag" %>
		<%= submit_tag 'Go !' %>
	<% end %>
	
</div>
