


<div class="form_left">
  <div class="yui-skin-sam">	
	  <div id='user_screen_name'>
	  </div>
	</div>

</div>

<div class="form_right">
<br>or<br><br>
<% if flash[:notice] -%>
	<div id="notice"><%= flash[:notice] %></div>
<% end %>
</div>

<div class="form_right">
  <div class="yui-skin-sam">	
	  <div id='tag_screen_name'>
	  </div>
	</div>
	
</div>
