#footer {
	font-family:Helvetica;
	color:black;
	text-align:center;
	background-color: white;
	font-size: 12px;
	margin-left: 5 px;
	height:100px;
	padding-top:20px;
	border-top: 1px solid rgb(221, 221, 221);
}

#link {
	color:rgb(51, 153, 153);
}