body {
	font-family: Arial, Helvetica ;
	font-size: 0.95em;
}

#header {
	margin: 5px;
	border-width: 1px;
	border-style: solid;
	padding: 20px;
	background: #006699;
}

.title {
	color: white;
	font-weight:bold;
	font-size: 150%;
}

.subtitle {
	color: white;
	font-weight:bold;
}