#header {
	background-color: rgb(49, 78, 120);
	height: 70px;
	border-bottom: 1px solid rgb(221, 221, 221);
	padding-top:20px;
	padding-left:40px;
}

.title {
	font-family: Lucida;
	color: rgb(156, 194, 65);
	font-weight:bold;
	font-size: 200%;
}

.subtitle {
	font-family: Lucida;
	color: white;
	font-weight:bold;
}