#user_result {
	padding-top:30px;
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: #006699;
}

a:hover {
	text-decoration: none;
	color:black;
}

.user_followers {
	color: #006699;
}

.user_following {
	color: #006699;
}

#pic {
	padding-right:20px;
	float:left;
	width:100px;
	height:100px;
}

#info {
	width:auto;
	height:auto;
	border-width: 1px; border-left-style: solid;
	padding-left: 20px;
	padding-right:50px;
	float:left;
}

#recent_tweets {
	border-width: 1px; border-left-style: solid;
	padding-left:20px;
	width:260px;
	height:auto;
	float:left;
	padding-right:50px;
	margin-right:10px;
}

.section_title {
	font-weight: bold;
	text-align: center;
}

.date {
	font-size: 0.8em;
}

.text {
	color: #006699;
}

.text:hover {
	color:black;
}

#tags {
	border-width: 1px; border-left-style: solid;
	width:300px;
	height:200px;
	float:left;
	text-align: center;
}