#user_result {
	border:solid;
	margin:15px; padding:2px;
	height:700px;
}

#object {
	border:solid; margin:2px; padding:2px; border-color:red;
}

#sidebar {
	border:solid; margin:2px; padding:2px; border-color:red;
	width: 30%;
	height:600px;
	float:left;
}

#user_info {
	border:solid; margin:2px; padding:2px;
	float:left;
	width:97%;
	height:auto;
}

#pic {
	border:solid; margin:2px; padding:2px;
	float:left;
	width:100px;
	height:100px;
	padding-right:20px;
}

#info {
	border:solid; margin:2px; padding:2px;
	width:60%;
	height:auto;
	float:left;
}

#recent_tweets {
	border:solid; margin:2px; padding:2px;
	width:auto;
	height:auto;
	float:left;
}

#content {
	border:solid; margin:2px; padding:2px; border-color:red;
	width:60%;
	height:auto;
	float:left;
}

#last_links {
	border:solid; margin:2px; padding:2px;
}

#tags {
	border:solid; margin:2px; padding:2px;
	width:48%;
	height:150px;
	float:left;
	text-align: center;
}

#users {
	border:solid; margin:2px; padding:2px;
	width:48%;
	height:150px;
	float:left;
	text-align: center;
}

body {
	font-family: Lucida;
}

a {
	text-decoration: none;
	color: #006699;
}

a:hover {
	text-decoration: none;
	color:black;
}

.user_followers {
	color: #006699;
}

.user_following {
	color: #006699;
}

.section_title {
	font-weight: bold;
	text-align: center;
}

.date {
	font-size: 0.8em;
}

.text {
	color: #006699;
}

.text:hover {
	color:black;
}

#main_title {
	font-size: 3em;
	font-family:Georgia;
	font-weight: bold;
}