#user_result {
	border: 1px solid rgb(221, 221, 221);
	width:95%;
	margin-left:30px;
	margin-right:20px;
	background: #f4f5f5 url("http://mootools.net//assets/images/gradient.png") repeat-x top;
	padding:10px;
	height:auto;
}

#object {
	padding-left:13px;
}

#sidebar {
	margin:2px; padding:2px;
	width: 35%;
	height:auto;
	border-right:solid; border-right-width:1px; border-right-color: rgb(191, 191, 191);
	padding-right:20px;
	float:left;
}

#user_info {
	margin:2px; padding:2px;
	float:left;
	width:97%;
	height:auto;
}

#pic {
	margin:2px; padding:2px;
	float:left;
	width:100px;
	height:100px;
	padding-right:20px;
}

#info {
	margin:2px; padding:2px;
	width:auto;
	height:auto;
	float:left;
}

#recent_tweets {
	border-top:solid; border-top-width:1px; padding-top:25px; margin-top:25px; border-top-color: rgb(191, 191, 191);
	border-bottom:solid; border-bottom-width:1px; padding-bottom:25px; border-bottom-color: rgb(191, 191, 191);
	width:100%;
	height:auto;
	float:left;
}

#content {
	margin-left:20px;
	width:60%;
	height:auto;
	float:left;
}

#premium_content {
	height:300px;
	width:100%;
	border-top:solid; border-top-width:1px; padding-top:20px; border-top-color: rgb(191, 191, 191);
  margin-top:20px;
}

#last_links {

	height:180px;

	border-top:solid; border-top-width:1px; padding-top:20px; border-top-color: rgb(191, 191, 191);
}

#tags {
	width:48%;
	height:auto;
	float:left;
	text-align: center;
	border-right:solid; border-right-width:1px; border-right-color: rgb(191, 191, 191);
	padding-right:20px;
}

#users {
	width:48%;
	height:auto;
	float:left;
	text-align: center;
}

body {
	font-family: Helvetica;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: rgb(255, 144, 154);
}

.user_followers {
	color: rgb(51, 153, 153);
}

.user_following {
	color: rgb(51, 153, 153);
}

.date {
	color: #999999;
	font-size: 0.8em;
}

.text {
	color:black ;
}

.text:hover {
	color: rgb(51, 153, 153);
}

#main_title {
	font-size: 3em;
	font-family:Georgia;
	font-weight: bold;
}
#last_links .description{
width:50%;
float:left;
overflow:hidden;
border-right:1px solid #BFBFBF;
float:left;
margin-right:30px;
text-align:center;
}
#last_links .url{
overflow:hidden;
width:40%;
}
#last_links .no-ref{
color:grey;
text-align:center;
}
#last_links .url a{
color:blue;
float:left;
}
#last_links .description a{
color:blue;
}
#last_links .h_line{
width:100%;
border-top : 1px solid #BFBFBF;
margin-bottom:5px;
}
#last_links .title{
text-align:center;
font-weight:bold;
margin-top:5px;
margin-bottom:2px;
}
