#user_result {
	border: 1px solid rgb(221, 221, 221);
	width:95%;
	margin-left:30px;
	margin-right:20px;
	background: #f4f5f5 url("http://mootools.net//assets/images/gradient.png") repeat-x top;
	padding:10px;
	height:550px;
}

#object {
	padding-left:13px;
}

#sidebar {
	margin:2px; padding:2px;
	width: 30%;
	height:auto;
	float:left;
	border-right:solid;
	border-right-width:1px;
	padding-right:20px;
}

#user_info {
	margin:2px; padding:2px;
	float:left;
	width:97%;
	height:auto;
}

#pic {
	margin:2px; padding:2px;
	float:left;
	width:100px;
	height:100px;
	padding-right:20px;
}

#info {
	margin:2px; padding:2px;
	width:60%;
	height:auto;
	float:left;
}

#recent_tweets {
	border-top:solid;
	border-top-width:1px;
	padding-top:25px; margin-top:25px;
	width:100%;
	height:auto;
	float:left;
}

#content {
	margin-left:20px;
	width:60%;
	height:auto;
	float:left;
}

#last_links {
	border-bottom:solid;
	border-bottom-width:1px;
	padding-bottom:20px;
}

#tags {
	margin-top:20px;
	width:48%;
	height:150px;
	float:left;
	text-align: center;
	border-right:solid;
	border-right-width:1px;
	padding-right:20px;
}

#users {
	padding-top:20px;
	width:48%;
	height:150px;
	float:left;
	text-align: center;
}

body {
	font-family: Helvetica;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: rgb(51, 153, 153);
}

a:hover {
	text-decoration: none;
	color:black;
}

.user_followers {
	color: rgb(51, 153, 153);
}

.user_following {
	color: rgb(51, 153, 153);
}

.date {
	color: #999999;
	font-size: 0.8em;
}

.text {
	color:black ;
}

.text:hover {
	color:rgb(51, 153, 153);
}

#main_title {
	font-size: 3em;
	font-family:Georgia;
	font-weight: bold;
}

img {
	
}