div#mytagcloud {
	width: 100%;
	height: auto;
}
ul.tagcloud-list {
  	font-size: 100%;
  	font-weight: bold;
  	font-family: "Arial", "sans-self";
  	padding: 2px;
  	margin: 10px;
	color:rgb(51, 153, 153);
}
li.tagcloud-base {
  font-size: 24px;
  display: inline;
}
a.tagcloud-anchor {
  text-decoration: none;
}
a.tagcloud-ealiest {
  color: #ccc;
}
a.tagcloud-earlier {
  color: #99c;
}
a.tagcloud-later {
  color: #99f;
}
a.tagcloud-latest {
  color: #00f;
}