body {
	font-family: Arial, Helvetica ;
	font-size: 0.95em;
}

#welcome_content {
	background: #f4f5f5 url("http://mootools.net//assets/images/gradient.png") repeat-x top left;
	width:100%;
	height:400px;
	float:none;
}

#forms {
	border:solid; margin:2px; padding:2px;
	width : auto;
	height: 100px;
	vertical-align:middle;
}

#notice {
	color:red;
}

.form_left {
	text-align: center;
	width: 200px;
	float: left;
	padding-left: 300px;
}

.form {
	vertical-align:middle;
	text-align: center;
	width: 200px;
	float: left;
}

#modules {
	width : 95%; 
	margin : auto;
	height : auto;
	vertical-align: center;
}

.mod_users {
	width : 32.5%;
	height : 200px;
	float: left;
	text-align: center;
	border-width : 2px; 
	border-style: solid;
	border-color:#006699;
	margin-right: 10px;
}

.mod_tags {
	width : 32.5%;
	height : 200px;
	float: left;
	text-align: center;
	border-width : 2px; 
	border-style: solid;
	border-color: #006699;
	margin-right: 10px;
	
}

.mod_links {
	width : 32.5%;
	height : 200px;
	float: left;
	text-align: center;
	border-width : 2px; 
	border-style: solid;
	border-color: #006699;
}