body {
	font-family: Helvetica;
}

.form_title {
	text-align: center;
	font-weight: bold;
	color: black;
}

.section_title {
	text-align: center;
	font-weight: bold;
}

#welcome_content {
	width:95%; height:550px;
	border: 1px solid rgb(221, 221, 221);
	background: #f4f5f5 url("http://mootools.net//assets/images/gradient.png") repeat-x top left;
	margin-left:30px;
	padding-top:20px;
	float:none;
}

#forms {
	height: 130px;
	margin-bottom:20px;
	width : auto;
	vertical-align:middle;
	border-bottom:solid; border-bottom-color: rgb(191, 191, 191); border-width:1px;
	margin-left:20px; margin-right:20px;
}

#notice {
	color:red;
}

.form_left {
	text-align: center;
	width: 200px;
	float: left;
	padding-left: 300px;
}

.form_right {
	vertical-align:middle;
	text-align: center;
	width: 200px;
	float: left;
}

#modules {
	vertical-align:middle;
	width : 95%; 
	margin : auto;
	height : auto;
	vertical-align: center;
}

.mod_users {
	vertical-align:middle;
	width : 45%;
	height : 200px;
	float: left;
	text-align: center;
	border-right:solid;	border-right-width:1px; border-right-color: rgb(191, 191, 191);
}

.mod_tags {
	vertical-align:middle;
	width : 45%;
	height : 200px;
	float: left;
	text-align: center;
	margin-right: 10px;
}

.mod_links {
	vertical-align:middle;
	width : 0%;
	height : 200px;
	float: left;
	text-align: center;
}
