body {
	font-family: Arial, Helvetica ;
	font-size: 0.95em;
}

.user_name {
	color: #E1377B;
}

#forms {
	background-color: #CCCCCC;
	width : 95%;
	height: 70px;
	margin : auto;
	border-width : 2px; 
	border-style: solid;
	border-color:#006699;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:10px;
	margin-bottom:10px;
}

#notice {
	color:red;
}

.form_left {
	text-align: center;
	width: 200px;
	float: left;
	padding-left: 300px;
}

.form {
	text-align: center;
	width: 200px;
	float: left;
}

#modules {
	width : 95%; 
	margin : auto;
	height : auto;
	vertical-align: center;
}

.mod_users {
	width : 32.5%;
	height : auto;
	float: left;
	text-align: center;
	border-width : 2px; 
	border-style: solid;
	border-color:#006699;
	margin-right: 10px;
}

.mod_tags {
	width : 32.5%;
	height : auto;
	float: left;
	text-align: center;
	border-width : 2px; 
	border-style: solid;
	border-color: #006699;
	margin-right: 10px;
	
}

.mod_links {
	width : 32.5%;
	height : auto;
	float: left;
	text-align: center;
	border-width : 2px; 
	border-style: solid;
	border-color: #006699;
}