body {
	font-family: Helvetica;
}

.form_title {
	font-weight: bold;
	text-align: center;
	font-family: Helvetica;
	color: black;
}

.section_title {
	font-weight: bold;
	text-align: center;
	font-family: Helvetica;
}

#welcome_content {
	border: 1px solid rgb(221, 221, 221);
	width:95%;
	margin-left:30px;
	padding-top:20px;
	background: #f4f5f5 url("http://mootools.net//assets/images/gradient.png") repeat-x top left;
	height:550px;
	float:none;
}

#forms {
	margin-bottom:20px;
	width : auto;
	height: 100px;
	vertical-align:middle;
	border-bottom:solid; border-width:1px; margin-left:20px; margin-right:20px;
}

#notice {
	color:red;
}

.form_left {
	text-align: center;
	width: 200px;
	float: left;
	padding-left: 300px;
}

.form_right {
	vertical-align:middle;
	text-align: center;
	width: 200px;
	float: left;
}

#modules {
	width : 95%; 
	margin : auto;
	height : auto;
	vertical-align: center;
}

.mod_users {
	width : 32.5%;
	height : 200px;
	float: left;
	text-align: center;
	border-right:solid;
	border-right-width:1px;
}

.mod_tags {
	width : 32.5%;
	height : 200px;
	float: left;
	text-align: center;
	margin-right: 10px;
	border-right:solid;
	border-right-width:1px;
}

.mod_links {
	width : 32.5%;
	height : 200px;
	float: left;
	text-align: center;
}