<div class="section_title">Last links tweeted</div><br>

<% if !lastlinks.nil? %>

  <% lastlinks.each{|l| %>
	  <div class="link_line">
      <div class="description"><%if l[1]%><a href="<%=l[0]%>"><%= l[1] -%></a><%else%>No description<% end %> : </div>
      <div class="url"><a href="<%=l[0]%>"><%= l[0] -%></a></div>
		</div>
	<% } %>

<%else%>
Pas de liens dans la base de données
<%end %>

