<div id="form">
<% form_tag :action => 'search' do %> 
	<strong>Type in a user or a tag : </strong><br><br><%= text_field_tag :id %>
	<%= submit_tag 'Go !' %>
<% end %>
</div>

<div id="modules">

	<div class="mod_users">
	<strong>Popular Users</strong>
	<div id="my_user_cloud"></div>
	</div>	

	<div class="mod_tags">
	<strong>Popular Tags</strong>
	<div id="my_tag_cloud"></div>
	</div>

	<div class="mod_links">
	<strong>Popular Links</strong>
	</div>


	<div style="clear:both;">
	</div>

</div>