<div id="welcome_content">
<div id="forms">
	<%= render :partial => "shared/welcome/forms", :object => @user -%>	
</div>

<div id="modules">
	<div class="mod_users">
		<%= render :partial => "shared/welcome/popusers", :object => @user -%>	
	</div>	
	<div class="mod_tags">
		<%= render :partial => "shared/welcome/poptags", :object => @user -%>	
	</div>
	<div class="mod_links">
		<%= render :partial => "shared/welcome/poplinks", :object => @user -%>	
	</div>

	<div style="clear:both;">
	</div>
</div>
</div>